.top-img-section {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  position: relative;
}

.top-img-section .top-img-box {
  height: 100%;
}

.top-img-section .top-img-box .top-img {
  width: 100%;
  height: 100%;
}

.top-img-text-box {
  border: 3px solid rgb(7, 7, 7);
  position: absolute;
}
.top-img-title {
  font-size: 3.2rem;
  font-weight: bold;
}

.top-img-content {
  font-size: 1.2rem;
  font-weight: bold;
}
