.top-img-box {
  width: 100%;
}
.top-img-block{
  height: 30%;
}
.top-img-title{
  text-align: left;
  padding: 20px;
  line-height: 120%;

}

.top-img-title h1{
  color: white;
  font-size: 4rem;
}

.top-img-content{
  text-align: left;
  padding: 20px;
}

.top-img-content h2{
  color: white;
  font-size: 2rem;
}